.Layout{

    &::after{
        width: 100%;
        content: "";
        background: url(../../assets/bac.jpg);
        background-size: cover;
        opacity: .5;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        @supports(background: -webkit-linear-gradient(to right, #f7ff00b0, #db36a4b0), url(../../assets/bac.jpg)) or 
                 (background: linear-gradient(to right, #f7ff00b0, #db36a4b0), url(../../assets/bac.jpg)){
            background: -webkit-linear-gradient(to right bottom, #f7ff00b0, #db36a4b0), url(../../assets/bac.jpg); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right bottom, #f7ff00b0, #db36a4b0), url(../../assets/bac.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: cover;
            opacity: 1;
        }  
    }
}